.MainApp {
  background-image: url("./../public/images/background.jpg");
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
}

.containerApp {
  background:#918e8e;
  height: auto;
  border-radius: 20px;
  position: relative;
  top: 50px;
}

@media only screen and (max-width: 575.98px) and (min-width: 300px) {
  .containerApp {
    height: 101vh;
    border-radius: 0px;
    top: 0px;
  }
}

.arrowBack {
  position: absolute;
  color: white;
  top: 4%;
  left: 38px;
  font-size: 35px !important;
  cursor: pointer;
  z-index: 1;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--color-text);
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 10px;
}

.streetAdressDiv{
  width: 92%;
}

.zipCodeDiv{
  width: 84%;
}

.normalDiv{
  width: 90%;
}

.emailDiv{
  width: 95%;
}

@media only screen and (max-width: 768px){
  .streetAdressDiv{
    width: 90%;
  }
  .zipCodeDiv{
    width: 90%;
  }
  .emailDiv{
    width: 90%;
  }
}

.loader {
  border: 22px solid rgb(198, 193, 193);
  border-radius: 50%;
  border-top: 22px solid #2f6e82;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-bottom: 30px;
}

@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}