.personContainer {
  margin-top: 50px;
  height: 68vh;
  position: relative;
  left: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 30px;
}

.personCard {
  background: #3c3a3a;
  width: 98%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  border: 1px solid #676767;
  height: 340px;
  margin-bottom: 10px;
}

.personCard:hover {
  box-shadow: 1px 4px 8px #0b0b0b;
  border: 1px solid #0b0b0b;
}

.divIconsPersonCard {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 5px;
}
.imagePersonCard {
  width: 90%;
  height: 55%;
  border-radius: 50%;
  margin-top: 20px;
}

.namePersonCard {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(209, 199, 199);
  font-size: 30px;
  font-weight: 600;
}

.editButton {
  width: 35px;
  height: 30px;
  border: 1px solid #2f6e82;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  color: #2f6e82;
  cursor: pointer;
  padding-top: 2px;
}

.editButton:hover {
  background: #2f6e82;
  color: rgb(227, 220, 220);
}

.deleteButton {
  width: 35px;
  height: 30px;
  border: 1px solid #ad2323;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  color: #ad2323;
  padding-top: 3px;
  cursor: pointer;
}

.deleteButton:hover {
  background: #ad2323;
  color: rgb(227, 220, 220);
}

.viewButton{
    width: 35px;
  height: 30px;
  border: 1px solid #cb7b20;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  color: #cb7b20;
  padding: 2px;
  cursor: pointer;
  padding-left: 1px;
}

.viewButton:hover{
    background: #cb7b20;
    color: rgb(227, 220, 220); 
}
.createPersonButton {
  width: 50%;
  color: #2f6e82;
  border: 1px solid #2f6e82;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 30px;
}

.createPersonButton:hover {
  color: #d9d9d9;
  background: #2f6e82;
}

@media only screen and (min-width: 1400px) {
  .imagePersonCard {
    width: 45%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .imagePersonCard {
    width: 55%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .imagePersonCard {
    width: 65%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .imagePersonCard {
    width: 85%;
  }
}

@media only screen and (max-width: 575.98px) {
  .imagePersonCard {
    width: 180px;
  }

  .personCard {
    width: 285px;
  }
  .personContainer {
    height: 75vh;
  }
}

/* INPUT SEARCH BAR */

form.formSearchBar {
  transform: translate(-10%, -50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: #3c3a3a;
  box-sizing: border-box;
  border-radius: 25px;
  border: 1px solid #676767;
  padding-left: 50px;
  margin-top: 20px;
  position: relative;
  top: 25px;
  left: -25px;
}

input.inputSearchBar {
  width: 100%;
  height: 42px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
  position: relative;
  left: -40px;
  top: 4px;
  color: #cec8c8;
  background: #3c3a3a;
}

.searchIcon {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 3px;
  right: 5px;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 1.4em;
  transition: all 1s;
}

.closeSearch {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 3px;
  right: 5px;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 1.4em;
  transition: all 1s;
}

form.formSearchBar:hover,
form.formSearchBar:valid {
  width: 200px;
  cursor: pointer;
}

form.formSearchBar:hover input.inputSearchBar,
form.formSearchBar:valid input.inputSearchBar {
  display: block;
}

form.formSearchBar:hover .searchIcon,
form.formSearchBar:valid .searchIcon {
  background: #161616;
  color: white;
}

form.formSearchBar:hover .closeSearch,
form.formSearchBar:valid .closeSearch {
  background: #161616;
  color: white;
}

.putOpacity {
  opacity: 1 !important;
}

.takeOpacity {
  opacity: 0;
}
