.labelDivInput {
  color: #fff;
  position: relative;
  top: 2px;
  left: 40px;
  background: #918e8e;
  text-align: center;
  font-family: system-ui;
  font-weight: 600;
}

.labelDivInputGender {
  color: #fff;
  position: relative;
  top: 2px;
  left: 40px;
  background: #918e8e;
  text-align: center;
  font-family: system-ui;
  font-weight: 600;
  width: 140px;
}

.labelPosition {
  color: #292929
}

.colDivGender {
  width: 90%;
}

.optionsGender {
  border-top: 1px solid #292929;
  border-radius: 10px;
  height: 38px;
}
.genderText {
  padding-right: 20px;
  color: #292929;
  font-family: system-ui;
}

.errorText {
  color: #db0909c9;
  font-family: ui-monospace;
  text-indent: 50px;
  font-size: 14px;
}

.circleNotCheck {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #d9d9d9;
}

.circleCheck {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  background: #2f6e82;
}

.inputText {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    color: #292929;
    background-color: #eaeaea;
    border: 1px solid #292929;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 10px;
    transition: border 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
